// COLORS
$w-red: #952641;
$w-black: #262928;

// Bootstrap
$icon-font-path: '/assets/fonts/bootstrap/';

//$font-family-sans-serif: 'Nunito Sans', sans-serif;

//$border-radius-base: 0px;
//$border-radius-small: 0px;
//$input-height-small: 25px;

//$navbar-height: 10px;
//$navbar-default-bg: rgba(255, 255, 255, .7);
//$navbar-default-border: 0;
//$navbar-default-color: $w-red;
//$navbar-default-link-color: $w-red;
//$navbar-default-link-hover-color: $w-red;
//$navbar-default-link-hover-bg: transparent;
//$navbar-default-link-active-color: $w-red;
//$navbar-default-link-active-bg: transparent;
//$navbar-default-toggle-border-color: $w-red;
//$navbar-default-toggle-icon-bar-bg: $w-red;

//$link-color: $w-black;

// for contact form
//$state-danger-text: $w-red;

//$navbar-height: 120px; // TODO
//$navbar-default-color: $bsh-grau;
//$navbar-default-link-color: $bsh-grau;
//$navbar-default-link-hover-color: $bsh-blau1;
//$navbar-default-bg: $bah-font-invert;
//$navbar-default-link-active-color: $bsh-blau1;
//$navbar-default-border: none;
//$navbar-default-link-active-bg: none;

//$navbar-height: 70px;
//$navbar-default-brand-hover-bg: #fff;

//$font-size-base: 15px;

//$font-size-h1: floor(($font-size-base * 2.0));
//$font-size-h2: floor(($font-size-base * 1.5));
//$font-size-h3: $font-size-base;
//$font-size-h4: ceil(($font-size-base * 0.95));
//$font-size-h5: ceil(($font-size-base * 0.90));
//$font-size-h6: ceil(($font-size-base * 0.85));

//$dl-horizontal-offset: 100px;

//@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap";

// cookie approval
//$ka-cookie-bg: #222 !default;
//$ka-cookie-color: #fff !default;
//$ka-cookie-link-color: #31a8f0 !default;
//$ka-cookie-link-color-hover: #b2f7ff !default;
//$ka-cookie-btn-bg: #f1d600 !default;
//$ka-cookie-btn-color: #222 !default;

//@import "../website/site/plugins/cookie/cookie.scss";

//$pswp__show-hide-transition-duration: 333ms !default;
//$pswp__controls-transition-duration: 333ms !default;
//$pswp__background-color: #000 !default;
//$pswp__placeholder-color: #222 !default;
//$pswp__box-sizing-border-box: true !default; // disable .pswp * { box-sizing:border-box } (in case you already have it in your site css)
//$pswp__root-z-index: 1500 !default;
//$pswp__assets-path: '/assets/images/photoswipe/'; // path to skin assets folder (preloader, PNG and SVG sprite)
//$pswp__error-text-color: #CCC !default; // "Image not loaded" text color
//$pswp__include-minimal-style: true !default;

//@import "../bower_components/photoswipe/src/css/main";
//@import "../bower_components/photoswipe/src/css/default-skin/default-skin";

//@import "css-debug";
//@import "col-middle";
//@import "flexthis";
@import "fonts";

@import "../website/site/modules/modules";

.uniform__potty {
  position: absolute;
  left: -9999px;
}

.img-responsive {
  @extend .img-responsive;
  margin: 0 auto;
}

figure {
  img {
    @extend .img-responsive;
  }
}

[class*='col-'] > h2:first-child,
[class*='col-'] > h3:first-child,
[class*='col-'] > h4:first-child,
[class*='col-'] > h5:first-child,
[class*='col-'] > h6:first-child {
  margin-top: 0;
  //color: red; // for debug
}

header, .header {

  .nav-placeholder {
    height: 50px;
  }

}