// COLORS
$w-red: #952641;
$w-black: #262928;

// Bootstrap
$icon-font-path: '/assets/fonts/bootstrap/';

@import "../bower_components/bootstrap/scss/functions";
@import "../bower_components/bootstrap/scss/variables";
@import "../bower_components/bootstrap/scss/mixins";

// Bootstrap vars

//$btn-border-radius: 0;
//$headings-font-family: ;

// Bootstrap
@import "bootstrap";

// cookie approval
//$ka-cookie-bg: #222 !default;
//$ka-cookie-color: #fff !default;
//$ka-cookie-link-color: #31a8f0 !default;
//$ka-cookie-link-color-hover: #b2f7ff !default;
//$ka-cookie-btn-bg: #f1d600 !default;
//$ka-cookie-btn-color: #222 !default;

//@import "../website/site/plugins/cookie/cookie.scss";

//$pswp__show-hide-transition-duration: 333ms !default;
//$pswp__controls-transition-duration: 333ms !default;
//$pswp__background-color: #000 !default;
//$pswp__placeholder-color: #222 !default;
//$pswp__box-sizing-border-box: true !default; // disable .pswp * { box-sizing:border-box } (in case you already have it in your site css)
//$pswp__root-z-index: 1500 !default;
//$pswp__assets-path: '/assets/images/photoswipe/'; // path to skin assets folder (preloader, PNG and SVG sprite)
//$pswp__error-text-color: #CCC !default; // "Image not loaded" text color
//$pswp__include-minimal-style: true !default;

//@import "../bower_components/photoswipe/src/css/main";
//@import "../bower_components/photoswipe/src/css/default-skin/default-skin";

//@import "css-debug";
//@import "col-middle";
//@import "flexthis";
@import "fonts";

@import "../website/site/modules/modules";

.uniform__potty {
  position: absolute;
  left: -9999px;
}

.img-responsive {
  @extend .img-responsive;
  margin: 0 auto;
}

figure {
  img {
    @extend .img-responsive;
  }
}

[class*='col-'] > h2:first-child,
[class*='col-'] > h3:first-child,
[class*='col-'] > h4:first-child,
[class*='col-'] > h5:first-child,
[class*='col-'] > h6:first-child {
  margin-top: 0;
  //color: red; // for debug
}

header, .header {

  .nav-placeholder {
    height: $navbar-height;
  }

}